/*Reset CSS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Config  */
  html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .row {
    margin-right: 0;
    margin-left: 0;
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
  }
  
  ul {
    list-style: none;
  }
  
  #app {
    font-size: 1.6rem;
  }
  
  /*Header*/
  .header {
    position: fixed;
    z-index: 999999;
    width: 100%;
    height: 10rem;
    /*Logo main*/
    h1 {
      font-size: 2.4rem;
      word-spacing: 4px;
      text-transform: uppercase;
      font-weight: bold;
      color: #3cb878;
      line-height: 10rem;
    }
  
    /*Navbar */
    #navbarNav {
      margin: 0 15rem;
      .nav-item {
        margin: 0 1rem;
        a {
          color: #656d75;
          text-transform: uppercase;
          letter-spacing: 1px;
          font-weight: 500;
          text-decoration: none;
          cursor: pointer;
          transition: all 0.25s;
  
          &:hover {
            color: #3cb878;
          }
        }
  
        &:first-child {
          a {
            color: #3cb878;
          }
        }
      }
    }
  
    /*Logo icon*/
    .logo {
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3rem;
  
      .logo-item {
        img {
          width: 2rem;
          height: 2rem;
        }
      }
  
      .logo-item:first-child {
        position: relative;
        .number-cart {
          position: absolute;
          top: -5px;
          right: -5px;
          width: 1.7rem;
          height: 1.7rem;
          border-radius: 50%;
          line-height: 1.7rem;
          text-align: center;
          color: #fff;
          background-color: #3cb878;
        }
      }
    }
  }
  
  /*Banner*/
  .banner {
    .col {
      position: relative;
      margin-top: 10rem;
  
      h2 {
        font-size: 5rem;
        color: #000;
        text-transform: uppercase;
  
        position: absolute;
        z-index: 1;
        top: 35%;
        left: 20%;
        span {
          color: #3cb878;
        }
      }
  
      img {
        width: 100%;
        height: 100%;
        background-size: cover;
        position: relative;
      }
    }
  }
  
  /*best-seller*/
  .best-seller {
    height: 65rem;
    margin-top: 8rem;
  
    .explain {
      margin: auto;
      h2 {
        font-size: 3rem;
        font-weight: bold;
      }
  
      .desc {
        font-style: italic;
        color: #3cb878;
        font-size: 1.4rem;
        margin-bottom: 1.5rem;
      }
  
      .text {
        font-size: 1.3rem;
        line-height: 1.6;
        font-weight: 600;
      }
    }
  
    .product-shoes {
      .shoes {
        width: 100%;
        min-height: 45rem;
        cursor: pointer;
        transition: 0.25s;
  
        &:hover {
          opacity: 0.7;
        }
      }
    }
  
    .product-t-shirt {
      .t-shirt {
        width: 100%;
        min-height: 45rem;
        cursor: pointer;
        transition: linear 0.25s;
  
        &:hover {
          opacity: 0.7;
        }
      }
    }
  
    .product-shoes,
    .product-t-shirt {
      position: relative;
      .icon {
        top: 0;
        right: 0;
        position: absolute;
        opacity: 0;
  
        transition: all 0.3s;
        .icon-item {
          a {
            width: 4rem;
            height: 4rem;
            line-height: 4rem;
            display: inline-block;
            background-color: #3cb878;
            margin-bottom: 8px;
            text-align: center;
          }
        }
      }
  
      &:hover .icon {
        opacity: 1;
      }
    }
  
    h4,
    .price {
      padding-left: 3px;
    }
  
    h4 {
      font-size: 1.4rem;
      margin-top: 1rem;
    }
  
    .price {
      color: #3cb878;
      font-weight: 600;
    }
  }
  
  /*static-block*/
  .static-block {
    .custom {
      text-align: center;
  
      img {
        color: #464646;
        margin-bottom: 2.5rem;
        width: 4rem;
        height: 3rem;
        cursor: pointer;
      }
  
      h2 {
        font-size: 1.8rem;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 0;
      }
  
      p {
        color: #9e9e9f;
      }
    }
  }
  
  /*categaries*/
  .categaries {
    margin-top: 5rem;
    .row {
      --bs-gutter-x: 0;
    }
  
    img {
      width: 100%;
      cursor: pointer;
  
      &:hover {
        opacity: 0.8;
      }
    }
  }
  
  /*products*/
  .products {
    margin-top: 6rem;
    h3.heading {
      text-align: center;
      font-size: 3rem;
      font-weight: bold;
    }
    p.text {
      text-align: center;
      font-style: italic;
      color: #3cb878;
      font-size: 1.4rem;
      margin-bottom: 5rem;
    }
  
    .row {
      margin-bottom: 12rem;
    }
  
    .col {
      img {
        width: 100%;
        height: 100%;
        cursor: pointer;
        transition: linear 0.25s;
  
        &:hover {
          opacity: 0.7;
        }
      }
  
      h4,
      .price {
        padding-left: 3px;
      }
  
      h4 {
        font-size: 1.4rem;
        margin-top: 1rem;
      }
  
      .price {
        color: #3cb878;
        font-weight: 600;
      }
    }
  }
  
  /*subscribe*/
  .subscrible {
    color: #fff;
  
    .row {
      #form-contact {
        background-image: url("/assets/images/subscribe/bg-form-subscribe.jpg");
        background-size: cover;
        padding: 2rem;
        width: 100%;
  
        h2 {
          font-size: 3rem;
          letter-spacing: 3px;
          text-align: center;
          padding-top: 5rem;
        }
  
        p {
          font-size: 1.4rem;
          text-align: center;
          margin-bottom: 3rem;
        }
  
        .contact {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 3rem;
          margin-bottom: 3rem;
  
          input {
            height: 4rem;
  
            padding: 0 2rem;
            width: 30rem;
          }
  
          .btn {
            width: 15rem;
            height: 4rem;
            background-color: #3cb878;
  
            a {
              color: #fff;
              text-decoration: none;
              border: none;
              outline: none;
  
              text-transform: uppercase;
              font-size: 1.4rem;
  
              &:hover {
                color: #000;
                opacity: 0.8;
              }
            }
          }
        }
      }
    }
  }
  
  .logo-subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
      cursor: pointer;
      margin-top: 3rem;
    }
  }
  
  /*Footer*/
  .footer {
    height: 5.5rem;
    background-color: #000;
  
    .row {
      display: flex;
    }
  
    .copyright {
      flex: 1;
      line-height: 5.5rem;
      font-size: 1.4rem;
      text-align: end;
      margin-right: 10rem;
      color: #9e9e9f;
    }
  
    .card {
      display: flex;
      justify-content: center;
      gap: 1.5rem;
      flex-direction: row;
      height: 100%;
      line-height: 5.5rem;
  
      background-color: #000;
    }
  }
  
  /*Responsive*/
  @media (max-width: 739px) {
    /*header*/
    .header {
      width: 100%;
      .container {
        display: flex;
        flex-wrap: inherit;
        align-items: center;
        justify-content: start;
        gap: 3rem;
      }
      #navbarNav {
        margin: 0;
  
        .nav-item {
          a {
            font-weight: bold;
  
            &:first-child {
              color: #656d75;
            }
  
            &:hover {
              color: #3cb878;
            }
          }
        }
      }
      .logo {
        // display: none;
      }
    }
  
    /*Banner*/
    .banner {
      width: 100%;
      padding-top: 10rem;
      .col {
        h2 {
          font-size: 1.8rem;
          color: #000;
          text-transform: uppercase;
          position: absolute;
          z-index: 1;
          top: 33%;
          left: 9%;
        }
      }
    }
  
    /*best-seller*/
    .best-seller {
      margin-top: 8rem;
      .explain {
        .text {
          text-align: justify;
        }
        h2,
        .desc {
          text-align: center;
        }
      }
  
      h4,
      .price {
        text-align: center;
      }
    }
  
    /*static-block*/
    .static-block {
      margin-top: 165rem;
  
      .custom {
        margin: 1.5rem 0;
  
        p {
          font-size: 1.6rem;
          margin-top: 5px;
          font-weight: 500;
        }
      }
    }
  
    /*products*/
    .products {
      .col {
        margin: 2.5rem 0;
      }
    }
  
    /*subscrible*/
    /*  subscrible-left */
    .subscrible {
      height: 40rem;
      .row {
        #form-contact {
          background-image: url("/assets/images/subscribe/bg-form.jpg");
          background-size: cover;
          h2 {
            font-size: 2rem;
            letter-spacing: 3px;
            text-align: center;
            padding-top: 2rem;
          }
  
          p {
            margin-top: 1.5rem;
            font-size: 1.6rem;
            text-align: justify;
          }
  
          .contact {
            flex-direction: column;
          }
        }
  
        /*  subscrible-right */
        .logo-subscribe {
          margin-top: 2rem;
          flex-direction: column;
          img {
            margin-bottom: 1rem;
            border-radius: 5px;
          }
        }
      }
    }
  
    /*footer*/
    .footer {
      margin-top: 125rem;
      height: 20rem;
  
      .row {
        background: #000;
      }
  
      .copyright {
        margin: 0 auto;
  
        p {
          margin-top: 1rem;
          text-align: center;
          font-size: 1.6rem;
          font-weight: 500;
        }
      }
    }
  }
  